.header-wrapper {
  background-color: white;
  padding: 5px 0px;
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.15),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chat__body {
  padding: 0px;
  padding-top: 80px;
}

.chat__body .header {
  padding: 0px 20px;
  padding-top: 10px;
}

.chat__body {
  min-height: 200vh;
  position: relative;
}

.chat__body:after {
  content: "";
  background-image: url(../images/chatBg.png);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.chat__write--container {
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  justify-content: space-between;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0px;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  transition: all 0.5s ease-in;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  border-radius: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 3s linear infinite forwards;
  transform: translateY(-100px);
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__write i {
  font-size: 20px;
}

.chat__write i:first-child {
  font-size: 20px;
  margin-right: 10px;
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  padding-top: 15px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 50px;
}

.message .message__content {
  width: 50%;
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}
.incoming-message img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
  animation: spin 1s linear;
}

.incoming-message .message__author {
  margin-bottom: 5px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  position: relative;
}

.message .message__burble {
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  margin-bottom: 5px;
}

.incoming-message .message__burble {
  background-color: #8e8e93;
  position: absolute;
  left: 85px;
}

.incoming-message .message__burble:after {
  content: "";
  position: absolute;
  left: 1px;
  top: 50%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-right-color: #8e8e93;
  border-left: 0;
  border-bottom: 0;
  margin-top: -4.5px;
  margin-left: -9px;
}

.sent-message {
  position: relative;
}

.sent-message .message__burble {
  position: absolute;
  right: 30px;
  background-color: #147efb;
}

.sent-message .message__burble:after {
  content: "";
  position: absolute;
  right: 1px;
  top: 50%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-left-color: #147efb;
  border-right: 0;
  border-bottom: 0;
  margin-top: -4.5px;
  margin-right: -9px;
}

@keyframes incomingAnimation {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAnimation 0.5s ease-out forwards;
}

@keyframes sentAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAnimation 0.5s ease-out forwards;
}

.chat__messages li {
  margin-bottom: 50px;
}
